<!DOCTYPE html>
<html lang="en">

<head>
    <% include bloque/head.html%>
</head>

<body>




    <% include bloque/nav.html%>



        <ul>
             <p align="center">Ingenieria en Ciencias y Sistemas</p>
             <p align="center">Lenguajes Formales y de Programación</p>
             <p align="center">Ing. Oliver Sierra</p>
            <a id="logo-header" href="#" >
                <span class="site-name">Desarrollador: </span>

                    <span class="site-desc">Eriksson José Hernández López 201830459</span>
                </a> 
        </ul>
</body>

</html>